# Based on the default config from the SWE-agent repo:
# https://github.com/SWE-agent/SWE-agent/blob/1375ec4fa69d300b432b9ca61d6b0e5d7259131c/config/default.yaml
# but the prompts are modified to instruct the agent NOT to write tests or execute code.

# note that this doesn't use nemo-skills prompt logic and instead is passed directly to swe-agent

agent:
  templates:
    system_template: |-
      You are a helpful assistant that can interact with a computer to solve tasks.
    instance_template: |-
      <uploaded_files>
      {{working_dir}}
      </uploaded_files>
      I've uploaded a python code repository in the directory {{working_dir}}. Consider the following PR description:

      <pr_description>
      {{problem_statement}}
      </pr_description>

      Can you help me implement the necessary changes to the repository so that the requirements specified in the <pr_description> are met?
      I've already taken care of all changes to any of the test files described in the <pr_description>. This means you DON'T have to modify the testing logic or any of the tests in any way!
      The development environment is unavailable. This means you CANNOT RUN PYTHON CODE for any purpose. Do not write or execute any tests. Do not use Python to check your work in any way. Do not install any packages.
      When you use the bash tool, you must not use any of these commands: python, pytest, mypy, pip, apt, apt-get. "python -c", "python -m" or any other options for these commands are also not allowed.
      Your task is to make the minimal changes to non-tests files in the {{working_dir}} directory to ensure the <pr_description> is satisfied.
      Follow these steps to resolve the issue:
      1. As a first step, it might be a good idea to find and read code relevant to the <pr_description>
      2. Edit the sourcecode of the repo to resolve the issue
      3. Think about edgecases and make sure your fix handles them as well
      Your thinking should be thorough and so it's fine if it's very long.
    next_step_template: |-
      OBSERVATION:
      {{observation}}
    next_step_no_output_template: |-
      Your command ran successfully and did not produce any output.
  tools:
    env_variables:
      PAGER: cat
      MANPAGER: cat
      LESS: -R
      PIP_PROGRESS_BAR: 'off'
      TQDM_DISABLE: '1'
      GIT_PAGER: cat
    bundles:
      - path: tools/registry
      - path: tools/edit_anthropic
      - path: tools/review_on_submit_m
    registry_variables:
      USE_FILEMAP: 'true'
      SUBMIT_REVIEW_MESSAGES:
        - |
          Thank you for your work on this issue. Please carefully follow the steps below to help review your changes.

          1. If you have modified any TEST files, please revert them to the state they had before you started fixing the issue.
            You can do this with `git checkout -- /path/to/test/file.py`. Use below <diff> to find the files you need to revert.
          2. Run the submit command again to confirm.

          Here is a list of all of your changes:

          <diff>
          {{diff}}
          </diff>
    enable_bash_tool: true
    parse_function:
      type: function_calling
  history_processors: []
  model:
    # The following parameters are overridden by Nemo-Skills:
    # name, api_base, temperature, top_p, completion_kwargs, per_instance_call_limit.
    # Specifying them here will have no effect! Use Nemo-Skills options instead.
    per_instance_cost_limit: 0
    total_cost_limit: 0
    max_input_tokens: 0
    max_output_tokens: 0
